<section>
  <p id="primer" class="grande">Hola Mundo</p>
  <article>dsalñ</article>
  <article>adfag</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw</article>
  <article>etfdgw
  </article>
</section>
<section id="ejemplo">
  <p>objetivo</p>
</section>
<p>
<figure><!--https://i.ytimg.com/vi/Ciu7fijZq44/maxresdefault.jpg-->
    <img src="./image/fall.jpg" alt="fall"/>
    <figcaption>esta es una figcaption</figcaption>
</figure>
</p>
<audio src="./audio/exAudio.wav" type="audio/wav" controls="controls"></audio>
<video src="./video/samplevideo.mp4" type="video/mp4" controls="controls"></video>
<p>
<input type="text" [(ngModel)]="wi"/>
<input type="text" [(ngModel)]="hi"/>
</p>
<label>{{wi}}x{{hi}}</label>
<p>
<!--iframe width="{{wi}}}" height="{{hi}}" src="https://www.youtube.com/embed/xSZkMTM5gag" frameborder="0" allowfullscreen></iframe-->
<iframe src="https://www.youtube.com/embed/xSZkMTM5gag" frameborder="0" allowfullscreen></iframe>
</p>
